
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('static/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('static/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('static/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('static/fonts/Montserrat-Thin.ttf');
}


body {
  margin: unset;
  font-size: 24px;
  font-family: 'Montserrat-Regular';
}

main, footer, nav {
  margin: auto;
  max-width: 1200px;
  padding: 1rem;
}

nav {
  display: flex;
  padding: unset;
  justify-content: space-between;
  max-width: 100%;
}

nav li {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem;
  font-size: 24px;
}

ul {
  padding: unset;
  margin: 1rem;
}

p {
  line-height: 150%;
  color: #333;
}

address {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

h1 {
  font-size: 64px;
  font-family: 'Montserrat-Medium';
  margin: 1rem 0;
}


.logo {
  width: clamp(100px, 10vw, 250px);
}


a {
  color: black;
}

.introLogo {
  display: flex;
  flex-flow: column;
  color: white;
  gap: 0.5rem;
  padding: 1rem;
}

.introLogo span {
  background: black;
  width: fit-content;
  font-size: 24px;
}

.tagList {
  display: flex;
  list-style: none;
  margin: unset;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.tagList li {
  background: black;
  color: white;
  padding: 0.25rem;
  font-size: 1rem;
}

.videoList {
  display: grid;
  grid-template-columns: auto auto auto;
}