
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Rubik&display=swap');

body {
  margin: unset;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

p {
  line-height: 150%;
  color: black;
  font-size: 1rem;
}


h1 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


.introLogo {
  display: flex;
  flex-flow: column;
  color: white;
  gap: 0.5rem;
}

.introLogo span {
  background: black;
  width: fit-content;
  font-size: 24px;
  padding: 2px;
}

.tagList {
  display: flex;
  list-style: none;
  margin: unset;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  padding: unset;
}

.tagList li {
  background: white;
  color: black;
  padding: 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 2px;
  transition: all 0.25s;
}

.tagList li:hover {
  background: black;
  color: white;
  cursor: none;
}

article {
  margin: 5% 25%;
}

.mail {
  font-weight: 700;
  line-height:0;
}

@media only screen and (max-width: 1000px) {
  article {
    margin: 2rem;
  }
}